/* stylesheet

*/
h1, h2{
	color: blueviolet;
}

header {
    padding-top: 20px;
    height: 100px;
}

p{
	font-size: 20px;
	color: black;
}

.p-article {
border-width:1px;
border-style:dotted;
border-color:black;
}

#p-article {
	border-width:1px;
 border-style:dotted;
 border-color:black;
 margin-bottom: 20px;
}

.btn {
	margin-left: 110px;
	margin-top: -45px;
}

.btn-primary{
	margin-left: 10px;
	margin-bottom: -30px;
}


.btn-success{
	margin-left: 10px;
	margin-bottom: -30px;
}


